.title {
  background-color: rgb(153, 221, 221);
  padding: 5px;
}

#titlepage {
  font: silver;
}
table {
  font-family: arial, sans-serif;
  font-size: 16px;
  margin-top: -8px;
}
.content {
  padding: 15px;
}
